*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 20, 36);
}

h1{
    color: #fff;
    font-size: 5rem;
    margin: 60px;
}

a{
    text-decoration: none;
}

#outer{
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inner{
    display: flex;
    flex-direction: column;
}



