*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 20, 36);
}

/* Home page elements*/

h1{
    color: #fff;
    font-size: 5rem;
    margin: 70px;
}

a{
    font-size: 3.5rem;
    padding: 15px;
}

/* Container div */

#container{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Inner div */
#home{
    align-items: center;
    justify-content: center;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}


/* Buttons */

.btn{
    padding: 1.25rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: rgb(87, 78, 167);
    border-radius: 2rem;
}

.btn:hover{
    background: #6f8abb;
    color: #fff;
    box-shadow: 0 0.4rem 1.4rem 0 #6f8abb;
    cursor: pointer;
    transition: 150ms;
    transform: scale(1.02);
}

